# Dependencies
node_modules/

# Environment variables
config.env

# Uploaded files
uploads/*
!uploads/.gitkeep

uploads/brands/*
!uploads/brands/.gitkeep

uploads/categories/*
!uploads/categories/.gitkeep